In [1]:
import random

In [2]:
sample1 = random.sample(list(range(1,50)), 4)
sample2 = random.sample(list(range(1,25)), 1)

[39, 32, 47, 20]

In [3]:
1/50*1/49*1/48*1/47*1/25

In [4]:
file = 'plane_crashes_data.csv'

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv(file)

In [8]:
df.describe()

             month         year       aboard   fatalities
count  2709.000000  2709.000000  2709.000000  2709.000000
mean      6.554079  1981.927279    35.817276    25.816537
std       3.532468    16.709136    54.306779    42.599461
min       1.000000  1950.000000     0.000000     0.000000
25%       3.000000  1968.000000     5.000000     3.000000
50%       7.000000  1983.000000    15.000000     9.000000
75%      10.000000  1997.000000    44.000000    29.000000
max      12.000000  2009.000000   644.000000   583.000000

In [9]:
subset = df.fatalities[(df.year >=1980) & (df.year<= 2009)]

In [10]:
subset.describe()

count    1469.000000
mean       24.932607
std        45.951019
min         0.000000
25%         3.000000
50%         7.000000
75%        22.000000
max       520.000000
Name: fatalities, dtype: float64

In [59]:
months = df.groupby(['month'])

In [62]:
months.describe()

      aboard                                                     fatalities  \
       count       mean        std  min  25%   50%    75%    max      count
month
1      255.0  28.745098  38.833504  1.0  4.0  15.0  35.00  213.0      255.0
2      209.0  37.976077  55.470144  1.0  4.0  15.0  49.00  356.0      209.0
3      251.0  31.729084  56.190518  1.0  5.0  14.0  38.00  644.0      251.0
4      204.0  30.715686  46.521117  1.0  5.0  15.5  31.25  330.0      204.0
5      181.0  32.149171  45.389975  1.0  5.0  13.0  37.00  271.0      181.0
6      202.0  37.767327  51.884394  1.0  5.0  18.0  49.25  329.0      202.0
7      234.0  40.051282  64.126129  1.0  5.0  14.0  49.00  517.0      234.0
8      239.0  40.372385  65.210708  1.0  4.0  15.0  46.50  524.0      239.0
9      228.0  39.868421  56.895842  0.0  6.0  16.5  53.25  394.0      228.0
10     224.0  28.758929  39.606754  1.0  4.0  11.0  34.00  226.0      224.0
11     230.0  40.226087  54.587226  1.0  5.0  18.0  52.00  349.0      230.0
12     252.0  40.789683  63.885600  1.0  4.0  16.0  45.00  393.0      252.0

                   ...                   year                                  \
            mean   ...      75%    max  count         mean        std     min
month              ...
1      21.647059   ...    27.00  213.0  255.0  1982.282353  16.959385  1950.0
2      25.196172   ...    30.00  275.0  209.0  1981.392344  16.656863  1952.0
3      25.003984   ...    26.00  583.0  251.0  1980.681275  16.688020  1950.0
4      20.950980   ...    24.00  264.0  204.0  1980.524510  17.177554  1950.0
5      25.436464   ...    28.00  271.0  181.0  1982.795580  17.433913  1950.0
6      25.247525   ...    28.75  329.0  202.0  1982.262376  17.049692  1950.0
7      27.594017   ...    30.00  290.0  234.0  1983.705128  16.562621  1950.0
8      28.393305   ...    30.00  520.0  239.0  1983.878661  16.558717  1950.0
9      31.223684   ...    35.50  269.0  228.0  1982.236842  16.137243  1950.0
10     22.763393   ...    25.00  217.0  224.0  1982.263393  15.938990  1950.0
11     30.165217   ...    38.00  349.0  230.0  1980.321739  16.841438  1950.0
12     25.785714   ...    28.00  259.0  252.0  1980.880952  16.596264  1950.0


           25%     50%      75%     max
month
1      1969.00  1985.0  1997.00  2009.0
2      1967.00  1981.0  1996.00  2009.0
3      1966.50  1979.0  1994.50  2009.0
4      1967.00  1980.5  1994.00  2009.0
5      1968.00  1984.0  2000.00  2009.0
6      1967.25  1983.5  1996.00  2009.0
7      1969.00  1987.5  1999.00  2008.0
8      1970.00  1986.0  1999.00  2008.0
9      1969.00  1983.0  1995.25  2008.0
10     1970.00  1984.0  1997.00  2008.0
11     1966.00  1979.0  1996.00  2008.0
12     1967.00  1981.5  1996.00  2008.0

[12 rows x 24 columns]

In [13]:
%matplotlib inline

In [67]:
df[(df.fatalities >=1)].count()

month         2660
hour          2660
year          2660
location      2657
operator      2658
route         2279
type          2659
aboard        2660
fatalities    2660
summary       2647
dtype: int64

In [69]:
2660/len(df)

0.9819121447028424

In [71]:
df['perc_fatalities'] = df.fatalities/df.aboard

In [72]:
df.perc_fatalities.mean()

0.82313192235105637

In [ ]:
24.93
January
583
98
82